.appWrapper {
    width: 1000px;
    height: 100vh;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 20px 30px;
}

h1 {
    color: burlywood;
    margin: 10px 0;
}

input {
    display: block;
    margin: 20px auto;
    width: 80%;
}

button {
    display: block;
    padding: 2px;
    margin: 0 auto;
}